body {
	background-color: #393e46;
	font-family: "Indie Flower", cursive;
	color: #4ecca3;
}
h1 {
	text-align: center;
	margin: 5%;
	font-family: "Lobster", cursive;
	font-size: 5rem;
	color: #4ecca3;
}
footer {
	color: #eeeeee;
	text-align: center;
	margin-top: 5%;
}
img {
	width: 50%;
}
button {
	margin-top: 8%;
	width: 20%;
	height: 30%;
}
.container {
	width: 70%;
	margin: auto;
	text-align: center;
}
